@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text:#f2f2f2f2;
    --color-bg-modal:#424242;
    --color-bg-button:#424242;
    --color-bg-container: gray;
}

html, body {
    font-family:'Open Sans';
}

.bc-modal-gray {
    background-color: var(--color-bg-modal);
}

.bc-container{
    background-color: var(--color-bg-container);
}


.bc-button {
    background-color: var(--color-bg-button);
}

.c-text-white {
    color: var(--color-text);
}

button {
    font-family:'Open Sans';
}