@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text:#f2f2f2f2;
    --color-bg-modal:#424242;
    --color-bg-button:#424242;
    --color-bg-container: gray;
}

html, body {
    font-family:'Open Sans';
}

.bc-modal-gray {
    background-color: var(--color-bg-modal);
}

.bc-container{
    background-color: var(--color-bg-container);
}


.bc-button {
    background-color: var(--color-bg-button);
}

.c-text-white {
    color: var(--color-text);
}

button {
    font-family:'Open Sans';
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    font-size: 0.9rem;
    border: solid 1px #f2f2f2f2;
    transition: border-color, background-color  300ms linear;
   
    
}

div .hover-1:hover {
    cursor: pointer;
    background-color: hsl(0, 2%, 37%);
    border-color: hsl(0, 2%, 37%);
    
   }

div .hover-2:hover {
    cursor: pointer;
    background-color: hsl(123, 23%, 31%);
    border-color: hsl(123, 23%, 31%);

   }

img {
    position: absolute;
    top: 10px;
    right: 10px;
}

h3 {
    font-size: 1rem;
}

p{
    line-height: 1.6rem;
    font-size: 0.9rem;

}