@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-v3-text:#ffffff;
    --color-v3-bg-modal:#e2e4f3;
    --color-v3-bg-button:#303f9f;
    --color-v3-bg-container: gray;

    --color-v2-text:#363535;
    --color-v2-bg-modal:#ffffff;
    --color-v2-bg-button:#e2e4f3;
    --color-v2-bg-container: gray;


}

html, body {
    font-family:'Open Sans';
}

.bc-modal {
    background-color: var(--color-v3-bg-modal);
}

.bc-container {
    background-color: var(--color-v2-bg-container);
}


.bc-button-v2 {
    background-color: var(--color-v2-bg-button);
}

.bc-button-v3 {
    background-color:var(--color-v3-bg-button)
}
    


.c-text-white {
    color: var(--color-v2-text);
}

.c-text-button-v3 {
    color: var(--color-v3-text);
}

button {
    font-family:'Open Sans';
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    font-size: 0.9rem;
    border: solid 1px var(--color-v3-bg-button);
    transition: background-color 300ms linear;
   
    
}

div .hover-1:hover {
    cursor: pointer;
    background-color: hsl(218, 37%, 84%);
    
   }

div .hover-2:hover {
    cursor: pointer;
    background-color: hsl(217, 79%, 44%);

   }

img {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

h3 {
    font-size: 1rem;
}

p {
    line-height: 1.6rem;
    font-size: 0.9rem;

}